   <!-- Start of Content -->
    <div class="content">
    
     <!-- Carousel================================================== -->
     

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Maria Makiling</font></h1>
              <p>Lorem ipsum dolor sit amet, eius adolescens his te, nec te facer libris. Ad eius verear sed, eu eros contentiones vix, recusabo periculis adolescens sed an. Eos veniam vocent inciderint no, reque propriae senserit est ei.</font><br>
              <a ui-sref="login" class="btn btn-primary btn-wide">LOGIN</a></p> 
              
              </div>
          </div>
        </div>

        <!--Second Slide-->
        <div class="item">
          <img class="second-slide" src="" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>About IMCI</font></h1>
              <p>In sit iriure insolens aliquando, vix prima munere id, labore melius contentiones an qui. Et duo ferri copiosae. Duo congue inimicus ne, an vim nusquam recteque incorrupte. Ut eum sumo evertitur.<br></p>
             </div>
          </div>
        </div>
         <!--End of Second Slide-->

        <!--Third Slide-->
        <div class="item">
          <img class="third-slide" src="" alt="Third slide">
          <div class="container">
            
            <div class="carousel-caption">
              <h1>What's New?</h1>
              <p>Sea an dictas expetenda repudiare, minimum appellantur cu per. Has at malis eligendi periculis, ea tamquam vivendum sapientem pri. Summo constituto scripserit ex mea. Ex cum adhuc facilis vivendum, te etiam delenit sed, nam at adhuc iriure.</p>
            </div>
          </div>
        </div>
      </div>
      <!--End of Third Slide-->

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- /.carousel -->
    </div>

<!-- End of Content -->

  <div class="col-lg-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Charts</div>
        <div class="panel-body">
          HEHEHEHEEH
         <script src="Chart.js"></script>
  </head>
  <body>
    <div style="width:100%">
      <div>
        <canvas id="canvas" height="450" width="600"></canvas>
      </div>
    </div>


  <script>
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var lineChartData = {
      labels : ["January","February","March","April","May","June","July"],
      datasets : [
        {
          label: "My First dataset",
          fillColor : "rgba(220,220,220,0.2)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
        },
        {
          label: "My Second dataset",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(151,187,205,1)",
          data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
        }
      ]

    }

  window.onload = function(){
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myLine = new Chart(ctx).Line(lineChartData, {
      responsive: true
    });
  }


  </script>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Tables</div>
        <div class="panel-body">
          <canvas id="tables" class="chart chart-line" data="data" labels="labels"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

 </script>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Results</div>
        <div class="panel-body">
        BLA BLA BLA BLA BLA
        </div>
      </div>
    </div>
  </div>
</div>