<div>
	<div class="container">
	<h3> Choose Age Bracket of Child: </h3>
	
	<center>
	<a class="btn btn-lg btn-primary" ui-sref="diarrheaone" role="button">0 - 2 Months old</a>
  <a class="btn btn-lg btn-primary" ui-sref="generaldangersigns" role="button">2 Months - 5 years old</a>
  </center>

</div>