
<div>
<div class="container">
  <form name="form" class="form-group" novalidate>
   
   <h3><b><center>IMCI QUESTIONNAIRE <br/>(0-2 months)</font></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a ui-sref="diarrheaone" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="bacterialinfection" data-toggle="tab">BACTERIAL INFECTION</a></li>
    <li><a ui-sref="weightproblem" data-toggle="tab">WEIGHT PROBLEM</a></li>
    <li><a ui-sref="foodintake" data-toggle="tab">FOOD INTAKE</a></li>
    <li><a ui-sref="attachment" data-toggle="tab">ATTACHMENT</a></li>
    <li><a ui-sref="immunizationone" data-toggle="tab">IMMUNIZATION</a></li>
    </ul>
</div>  

<!-- end of temporary navigation -->

<div ui-view></div>
  
 </form>
  
</div>