
<div>
  <form name="form" class="form-group" novalidate>
   
   <h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>

<!--temporary navigation start -->
<div class="container">
<div class="pagination pagination-primary">
	<ul>
	<a ui-sref="imci" class="btn btn-success btn-wide"> Back</a>
    <li><a ui-sref="generaldangersigns">GENERAL DANGER SIGNS</a></li>
     <li><a ui-sref="cough">COUGH OR DIFFICULTY IN BREATHING</a></li>
     <li><a ui-sref="diarrheatwo">DIARRHEA</a></li>
     <li><a ui-sref="fever">FEVER</a></li>
     <li><a ui-sref="measles">MEASLES</a></li>
     <li><a ui-sref="dengue">DENGUE</a></li>
     <li><a ui-sref="earproblem">EAR PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
     <li><a ui-sref="vitaminA">VITAMIN A SUPPLEMENTATION</a></li>
    </ul>
</div>
<!--temporary navigation end -->





<!-- <a ui-sref="generaldangersigns" class="btn btn-lg btn-primary">GENERAL DANGER SIGNS</a>
<a ui-sref="cough" class="btn btn-lg btn-primary">COUGH OR DIFFICULTY IN BREATHING</a>
<a ui-sref="diarrheatwo" class="btn btn-lg btn-primary">DIARRHEA</a>
<a ui-sref="fever" class="btn btn-lg btn-primary">FEVER</a>
<a ui-sref="measles" class="btn btn-lg btn-primary">MEASLES</a>
<a ui-sref="dengue" class="btn btn-lg btn-primary">DENGUE</a>
<a ui-sref="earproblem" class="btn btn-lg btn-primary">EAR PROBLEM</a>
<a ui-sref="malnutritionanemia" class="btn btn-lg btn-primary">MALNUTRITION ANEMIA</a>
<a ui-sref="immunizationtwo" class="btn btn-lg btn-primary">IMMUNIZATION</a>
<div ui-view></div> -->
  
 </form>
  
</div>