<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
    <li><a ui-sref="generaldangersigns" data-toggle="tab" >GENERAL DANGER SIGNS</a></li>
    <li  class="active"><a ui-sref="cough" data-toggle="tab">COUGH</a></li>
    <li><a ui-sref="diarrheatwo" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="fever" data-toggle="tab">FEVER</a></li>
    <li><a ui-sref="measles" data-toggle="tab">MEASLES</a></li>
    <li><a ui-sref="dengue" data-toggle="tab">DENGUE</a></li>
    <li><a ui-sref="earproblem" data-toggle="tab">EAR PROBLEM</a></li>
    <li><a ui-sref="feedingproblem">FEEDING PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
    <li><a ui-sref="vitamina" data-toggle="tab">VITAMIN A SUPPLEMENTATION</a></li>
   
    </ul>
</div>  

<!-- end of temporary navigation -->
<div ui-view></div><br>

<b>CHECK FOR COUGH OR DIFFICULTY IN BREATHING: </b>
 </br>
 
 Does the child have cough or difficulty in breathing? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="cough" value=true ng-model="cough.cough">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="cough" value=false ng-model="cough.cough">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 If YES,
 For how long? (days):
    <input type="number" ng-model="cough.duration" name="duration" required="" class="form-control" placeholder="Number of Days"/> 
 
    <br>
    Breaths per minute:
        <input type="number" ng-model="cough.count" name="count" required="" class="form-control" placeholder="Breath Count" /> 
        <br>
 <br>
 Chest Indrawing? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="chestIndrawing" value=true ng-model="cough.chestIndrawing">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="chestIndrawing" value=false ng-model="cough.chestIndrawing">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

 Stridor? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="stridor" value=true ng-model="cough.stridor">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="stridor" value=false ng-model="cough.stridor">
                <font color=red>NO</font>
            </label>
        </div>
    </div>


<div>
    <h3>RESULT: COUGH OR DIFFICULTY IN BREATHING</h3>
    <div>{{ cough.cough }}</div>
    <div>{{ cough.duration }}</div>
    <div>{{ cough.count }}</div>
    <div>{{ cough.chestIndrawing }}</div>
    <div>{{ cough.stridor }}</div>
    <div>{{ getCough() }}</div>
</div>

<a ui-sref="generaldangersigns" class="btn btn-primary"> Back </a> 
<a ui-sref="diarrheatwo" class="btn btn-primary" name="coughBtn" ng-click="saveCough()"> Next </a>