<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
    <li><a ui-sref="generaldangersigns" data-toggle="tab" >GENERAL DANGER SIGNS</a></li>
    <li><a ui-sref="cough" data-toggle="tab">COUGH</a></li>
    <li><a ui-sref="diarrheatwo" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="fever" data-toggle="tab">FEVER</a></li>
    <li><a ui-sref="measles" data-toggle="tab">MEASLES</a></li>
    <li class="active"><a ui-sref="dengue" data-toggle="tab">DENGUE</a></li>
     <li><a ui-sref="earproblem" data-toggle="tab">EAR PROBLEM</a></li>
     <li><a ui-sref="feedingproblem">FEEDING PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
    <li><a ui-sref="vitamina" data-toggle="tab">VITAMIN A SUPPLEMENTATION</a></li>
   
    </ul>
</div>  

<!-- end of temporary navigation -->
<div ui-view></div><br>
<b>CHECK FOR DENGUE:</b>
<br/>
 Bleeding from the nose or gums or in the vomitus or stool? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="bleeding" value=true ng-model="dengue.bleeding">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="bleeding" value=false ng-model="dengue.bleeding">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 Black vomitus or black stool? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="black" value=true ng-model="dengue.black">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="black" value=flase ng-model="dengue.black">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

 
 Had persistent abdominal pain? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="abdominalPain" value=true ng-model="dengue.abdominalPain">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="abdominalPain" value=false ng-model="dengue.abdominalPain">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

 
 Had persistent vomiting? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="vomiting" value=true ng-model="dengue.vomiting">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="vomiting" value=false ng-model="dengue.vomiting">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

 
 Bleeding nose or gums? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="bleedingNoseGums" value=true ng-model="dengue.bleedingNoseGums">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="bleedingNoseGums" value=false ng-model="dengue.bleedingNoseGums">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

 
 Skin Petechiae? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="skinPetechiae" value="yes" ng-model="dengue.skinPetechiae">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="skinPetechiae" value=false ng-model="dengue.skinPetechiae">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

 
 Cold and clammy extremities? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="coldExtremities" value=true ng-model="dengue.coldExtremities">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="coldExtremities" value=false ng-model="dengue.coldExtremities">
                <font color=red>NO</font>
            </label>
        </div>
    
 
 Check capillary refill? (seconds):
    <input type="number" ng-model="dengue.capillaryRefill" name="capillaryRefill" required="" class="form-control" placeholder="Number of Seconds" /> 
    </div>
   
    
    Perform tourniquet test: 
  <input type="number" ng-model="dengue.tourniquetTest" name="tourniquetTest" required="" class="form-control"  />
   

<div>
    <h3>RESULT: DENGUE</h3>
    <div>{{ dengue.bleeding }}</div>
    <div>{{ dengue.black }}</div>
    <div>{{ dengue.abdominalPain }}</div>
    <div>{{ dengue.vomiting }}</div>
    <div>{{ dengue.bleedingNoseGums }}</div>
    <div>{{ dengue.skinPetechiae }}</div>
    <div>{{ dengue.capillaryRefill }}</div>
    <div>{{ dengue.tourniquetTest }}</div>
    <div>{{ getDengue() }}</div>

<a ui-sref="measles" class="btn btn-primary"> Back </a> 
<a ui-sref="earproblem" class="btn btn-primary" name="dengueBtn" ng-click="saveDengue()"> Next </a>