<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
    <li><a ui-sref="generaldangersigns" data-toggle="tab" >GENERAL DANGER SIGNS</a></li>
    <li><a ui-sref="cough" data-toggle="tab">COUGH</a></li>
    <li class="active" ><a ui-sref="diarrheatwo" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="fever" data-toggle="tab">FEVER</a></li>
    <li><a ui-sref="measles" data-toggle="tab">MEASLES</a></li>
    <li><a ui-sref="dengue" data-toggle="tab">DENGUE</a></li>
    <li><a ui-sref="earproblem" data-toggle="tab">EAR PROBLEM</a></li>
     <li><a ui-sref="feedingproblem">FEEDING PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
    <li><a ui-sref="vitamina" data-toggle="tab">VITAMIN A SUPPLEMENTATION</a></li>
   
    </ul>
</div>  

<!-- end of temporary navigation -->
<div ui-view></div><br>

<b>ASK FOR DIARRHEA: </b>
 <br/>

 
 Does the patient have Diarrhea? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="diarrhea" value=true ng-model="diarrheaTwo.diarrhea">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="diarrhea" value=false ng-model="diarrheaTwo.diarrhea">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 If YES, For how long? (days):
    <input type="number" ng-model="diarrheaTwo.duration" name="duration" required="" class="form-control" placeholder="Number of Days" /> 

    
 <br>
 Is there blood in the stool? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="bloodStool" value=true ng-model="diarrheaTwo.bloodStool">
                <font color=green>YES</font>
            </label>
          <div class="radio">
            <label>
                <input type="radio" name="bloodStool" value=false ng-model="diarrheaTwo.bloodStool">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 <br/>
   
   <i>Child’s General Condition</i>
   
<br/>
   
   Is the child: Abnormally sleepy or difficult to awaken? 
   <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="sleepy" value=true ng-model="diarrheaTwo.sleepy">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sleepy" value=false ng-model="diarrheaTwo.sleepy">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
   
   Restless or Irritable? 
   <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="restlessIrritable" value=true ng-model="diarrheaTwo.restlessIrritable">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="restlessIrritable" value=false ng-model="diarrheaTwo.restlessIrritable">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Is the child unable to drink or breastfeed?
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="unableDrink" value=true ng-model="diarrheaTwo.unableDrink">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="unableDrink" value=false ng-model="diarrheaTwo.unableDrink">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Is the child drinking eagerly, thirsty? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="drinkingEagerly" value=true ng-model="diarrheaTwo.drinkingEagerly">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="drinkingEagerly" value=false ng-model="diarrheaTwo.drinkingEagerly">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Sunken eyes?
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="sunkenEyes" value=true ng-model="diarrheaTwo.sunkenEyes">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sunkenEyes" value=false ng-model="diarrheaTwo.sunkenEyes">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
   
   Pinch the skin of the abdomen. <br> If it gets back, How long? (seconds):
    <input type="number" ng-model="diarrheaTwo.skin" name="skin" required="" class="form-control" placeholder="Number of Seconds" /> 
    </div>

<div>
    <h3>RESULT: DIARRHEA</h3>
    <div>{{ diarrheaTwo.diarrhea }}</div>
    <div>{{ diarrheaTwo.bloodStool }}</div>
    <div>{{ diarrheaTwo.sleepy }}</div>
    <div>{{ diarrheaTwo.restlessIrritable }}</div>
    <div>{{ diarrheaTwo.unableDrink }}</div>
    <div>{{ diarrheaTwo.drinkingEagerly }}</div>
    <div>{{ diarrheaTwo.sunkenEyes }}</div>
    <div>{{ diarrheaTwo.skin }}</div>
    <div>{{ getDiarrheaTwo() }}</div>


<a ui-sref="cough" class="btn btn-primary"> Back </a> 
<a ui-sref="fever" class="btn btn-primary" name="diarrheaTwoBtn" ng-click="saveDiarrheaTwo()"> Next </a>