<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
    <li><a ui-sref="generaldangersigns" data-toggle="tab" >GENERAL DANGER SIGNS</a></li>
    <li><a ui-sref="cough" data-toggle="tab">COUGH</a></li>
    <li><a ui-sref="diarrheatwo" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="fever" data-toggle="tab">FEVER</a></li>
    <li><a ui-sref="measles" data-toggle="tab">MEASLES</a></li>
    <li><a ui-sref="dengue" data-toggle="tab">DENGUE</a></li>
    <li class="active"><a ui-sref="earproblem" data-toggle="tab">EAR PROBLEM</a></li>
    <li><a ui-sref="feedingproblem">FEEDING PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
    <li><a ui-sref="vitamina" data-toggle="tab">VITAMIN A SUPPLEMENTATION</a></li>
   
    </ul>
</div>  

<!-- end of temporary navigation -->
<div ui-view></div><br>

<b>CHECK FOR EAR PROBLEM: </b>
    
<br/>
    
    Does the child have ear problem?
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="earProblem" value=true ng-model="earProblem.earProblem">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="earProblem" value=false ng-model="earProblem.earProblem">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 If YES, Is there ear pain? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="pain" value=true ng-model="earProblem.pain">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="pain" value=false ng-model="earProblem.pain">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Is there ear discharge? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="discharge" value=true ng-model="earProblem.discharge">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="discharge" value=false ng-model="earProblem.discharge">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 IF YES, for how long? (seconds):
    <input type="number" ng-model="earProblem.duration" name="duration" required="" class="form-control" placeholder="Number of Seconds" /> 
  
    <br>
    
  Pus draining from the ear? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="pusDraining" value=true ng-model="earProblem.pusDraining">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="pusDraining" value=false ng-model="earProblem.pusDraining">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Is there a tender swelling behind the ear? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="swelling" value=true ng-model="earProblem.swelling">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="swelling" value=false ng-model="earProblem.swelling">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

<div>
    <h3>RESULT: EAR PROBLEM</h3>
    <div>{{ earProblem.earProblem }}</div>
    <div>{{ earProblem.pain }}</div>
    <div>{{ earProblem.discharge }}</div>
    <div>{{ earProblem.duration }}</div>
    <div>{{ earProblem.pusDraining }}</div>
    <div>{{ earProblem.swelling }}</div>
    <div>{{ getEarProblem() }}</div>
</div>

<a ui-sref="dengue" class="btn btn-primary"> Back </a> 
<a ui-sref="feedingproblem" class="btn btn-primary" name="earProblemBtn" ng-click="saveEarProblem()"> Next </a>