<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
    <li><a ui-sref="generaldangersigns" data-toggle="tab" >GENERAL DANGER SIGNS</a></li>
    <li><a ui-sref="cough" data-toggle="tab">COUGH</a></li>
    <li><a ui-sref="diarrheatwo" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="fever" data-toggle="tab">FEVER</a></li>
    <li><a ui-sref="measles" data-toggle="tab">MEASLES</a></li>
    <li><a ui-sref="dengue" data-toggle="tab">DENGUE</a></li>
    <li><a ui-sref="earproblem" data-toggle="tab">EAR PROBLEM</a></li>
    <li  class="active"><a ui-sref="feedingproblem">FEEDING PROBLEM</a></li>
    <li><a ui-sref="malnutritionanemia" data-toggle="tab">MALNUTRITION</a></li>
    <li><a ui-sref="immunizationtwo" data-toggle="tab">IMMUNIZATION</a></li>
    <li><a ui-sref="vitamina" data-toggle="tab">VITAMIN A SUPPLEMENTATION</a></li>
   
    </ul>
</div>  

<!-- end of temporary navigation -->
<div ui-view></div><br>
<b>CHECK FOR FEEDING PROBLEM: </b>
 <br/>
 
 
 Is the infant breastfed? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="breastfeed" value=true ng-model="feedingProblem.breastfeed">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="breastfeed" value=false ng-model="feedingProblem.breastfeed">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
  
  If YES, ASK: How many times in 24 hours? 
    <input type="number" ng-model="feedingProblem.hours" name="hours" required="" class="form-control" placeholder="Number of Hours"/> 
   
    
    
    Do you breastfeed during the night?  
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="night" value=true ng-model="feedingProblem.night">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="night" value=false ng-model="feedingProblem.night">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
  
  Does the child take any other foods and fluids? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="others" value=true ng-model="feedingProblem.others">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="others" value=false ng-model="feedingProblem.others">
                <font color=red>NO</font>
            </label>
        </div>
  
 
  
  If YES, What foods or fluids?  
   <input type="text" ng-model="feedingProblem.otherFood.food" name="food" required="" class="form-control" /> 
    
    
    <br>
    How many times per day?  
     <input type="number" ng-model="feedingProblem.otherFood.count" name="count" required="" class="form-control" placeholder="Times per Day"/> 
    </div>
    
  
  What do you use to feed the child?  
    <input type="text" ng-model="feedingProblem.otherFood.useFeed" name="useFeed" required="" class="form-control"/> 
   
    If very low weight for age, how large are the servings?  
    <input type="number" ng-model="feedingProblem.otherFood.servings" name="servings" required="" class="form-control" placeholder="volume in mL" />
      
    Does the child receive his/her own serving? 
   <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="receive" value=true ng-model="feedingProblem.otherFood.receive">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="receive" value=false ng-model="feedingProblem.otherFood.receive">
                <font color=red>NO</font>
            </label>
        </div>

    
    Who feeds the child and how? 
<input type="text" name="who" ng-model="feedingProblem.otherFood.who" required="" class="form-control"/> 
    </div>
    
    
During the illness, has the child’s feeding changed? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="change" value=true ng-model="feedingProblem.otherFood.change">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="change" value=false ng-model="feedingProblem.otherFood.change">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 IF YES, how? 
<input type="text" ng-model="feedingProblem.otherFood.how" name="how" required="" class="form-control" /> 

  
<div>
    <h3>RESULT: FEEDING PROBLEM</h3>
    <div>{{ feedingProblem.breastfeed }}</div>
    <div>{{ feedingProblem.hours }}</div>
    <div>{{ feedingProblem.night }}</div>
    <div>{{ feedingProblem.others }}</div>
    <div>{{ feedingProblem.otherFood.food }}</div>
    <div>{{ feedingProblem.otherFood.count }}</div>
    <div>{{ feedingProblem.otherFood.useFeed }}</div>
    <div>{{ feedingProblem.otherFood.servings }}</div>
    <div>{{ feedingProblem.otherFood.receive }}</div>
    <div>{{ feedingProblem.otherFood.who }}</div>
    <div>{{ feedingProblem.otherFood.change }}</div>
    <div>{{ feedingProblem.otherFood.how }}</div>
</div>

<a ui-sref="earproblem" class="btn btn-primary"> Back </a> 
<a ui-sref="malnutritionanemia" class="btn btn-primary" name="feedingProblemBtn" ng-click="saveFeedingProblem()"> Next </a>