<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
    <li><a ui-sref="generaldangersigns" data-toggle="tab" >GENERAL DANGER SIGNS</a></li>
    <li><a ui-sref="cough" data-toggle="tab">COUGH</a></li>
    <li><a ui-sref="diarrheatwo" data-toggle="tab">DIARRHEA</a></li>
    <li class="active"><a ui-sref="fever" data-toggle="tab">FEVER</a></li>
    <li><a ui-sref="measles" data-toggle="tab">MEASLES</a></li>
    <li><a ui-sref="dengue" data-toggle="tab">DENGUE</a></li>
    <li><a ui-sref="earproblem" data-toggle="tab">EAR PROBLEM</a></li>
     <li><a ui-sref="feedingproblem">FEEDING PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
    <li><a ui-sref="vitamina" data-toggle="tab">VITAMIN A SUPPLEMENTATION</a></li>
   
    </ul>
</div>  

<!-- end of temporary navigation -->
<div ui-view></div><br>

<b>ASK FOR FEVER:</b>
    
    <br/>
    Does the child have fever? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="fever" value=true ng-model="fever.fever">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="fever" value=false ng-model="fever.fever">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
  
  If YES, Decide Malaria Risk 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="type" value="malariahigh" ng-model="fever.type">
                <font color=red>High malaria risk</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="type" value="malarialow" ng-model="fever.type">
                <font color=blue>Low malaria risk</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="type" value="nomalaria" ng-model="fever.type">
                <font color=green>No malaria risk</font>
            </label>
        </div>
    </div>
 
 
 ASK: 
<br/>
 
 How long has the child have fever? (days):
    <input type="number" ng-model="fever.duration" name="duration" required="" class="form-control" placeholder="Number of Days"/> 
    
    
    <br>
    If more than 7 days, has the fever been present every day? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="everyday" value=true ng-model="fever.everyday">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="everyday" value=false ng-model="fever.everyday">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Has the child had measles in the last 3 months? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="measles" value=true ng-model="fever.measles">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="measles" value=false ng-model="fever.measles">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 LOOK AND FEEL:
 <br/>
 
 Stiff neck? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="stiffNeck" value=true ng-model="fever.stiffNeck">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="stiffNeck" value=false ng-model="fever.stiffNeck">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
Runny nose? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="runnyNose" value=true ng-model="fever.runnyNose">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="runnyNose" value=false ng-model="fever.runnyNose">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Rashes? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="rash" value=true ng-model="fever.rash">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="rash" value=false ng-model="fever.rash">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Signs of measles now? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="measleSymptoms" value=true ng-model="fever.measleSymptoms">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="measleSymptoms" value=false ng-model="fever.measleSymptoms">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

<div>
    <h3>RESULT: FEVER</h3>
    <div>{{ fever.fever }}</div>
    <div>{{ fever.type }}</div>
    <div>{{ fever.duration }}</div>
    <div>{{ fever.everyday }}</div>
    <div>{{ fever.measles }}</div>
    <div>{{ fever.stiffNeck }}</div>
    <div>{{ fever.runnyNose }}</div>
    <div>{{ fever.rash }}</div>
    <div>{{ fever.measleSymptoms }}</div>
    <div>{{ getFever () }}</div>

<a ui-sref="diarrheatwo" class="btn btn-primary"> Back </a> 
<a ui-sref="measles" class="btn btn-primary" name="feverBtn" ng-click="savefever()"> Next </a>