<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
    <li class="active"><a ui-sref="generaldangersigns" data-toggle="tab" >GENERAL DANGER SIGNS</a></li>
    <li><a ui-sref="cough" data-toggle="tab">COUGH</a></li>
    <li><a ui-sref="diarrheatwo" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="fever" data-toggle="tab">FEVER</a></li>
    <li><a ui-sref="measles" data-toggle="tab">MEASLES</a></li>
    <li><a ui-sref="dengue" data-toggle="tab">DENGUE</a></li>
    <li><a ui-sref="earproblem" data-toggle="tab">EAR PROBLEM</a></li>
     <li><a ui-sref="feedingproblem">FEEDING PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
    <li><a ui-sref="vitamina" data-toggle="tab">VITAMIN A SUPPLEMENTATION</a></li>
   
    </ul>
</div>  

<!-- end of temporary navigation -->
<div ui-view></div><br>
 
<b>GENERAL DANGER SIGNS:</b> 
   
   
   Is the child able to drink or breastfeed? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="drinkBreastfeed" value=true ng-model="generalDangerSigns.drinkBreastfeed">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="drinkBreastfeed" value=false ng-model="generalDangerSigns.drinkBreastfeed">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 Does the child vomit everything? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="vomit" value=true ng-model="generalDangerSigns.vomit">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="vomit" value=false ng-model="generalDangerSigns.vomit">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 Has the child had convulsions? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="convulsion" value=true ng-model="generalDangerSigns.convulsion">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="convulsion" value=false ng-model="generalDangerSigns.convulsion">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 Is the child lethargic or unconscious? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="active" value=true ng-model="generalDangerSigns.active">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="active" value=false ng-model="generalDangerSigns.active">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
<br/>

 <div>
    <h2>RESULT: General Danger Sign</h2>
    <div>{{ generalDangerSigns.drinkBreastfeed }}</div>
    <div>{{ generalDangerSigns.vomit }}</div>
    <div>{{ generalDangerSigns.convulsion }}</div>
    <div>{{ generalDangerSigns.active }}</div>
  </div>

   <a ui-sref="cough" class="btn btn-primary" name="generalDangerSignsBtn" ng-click="saveGeneralDangerSigns()"> Next </a>