<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!--temporary navigation start -->
<div class="container">
<div class="pagination pagination-primary">
    <ul>
    <li><a ui-sref="generaldangersigns">GENERAL DANGER SIGNS</a></li>
     <li><a ui-sref="cough">COUGH OR DIFFICULTY IN BREATHING</a></li>
     <li><a ui-sref="diarrheatwo">DIARRHEA</a></li>
     <li><a ui-sref="fever">FEVER</a></li>
     <li><a ui-sref="measles">MEASLES</a></li>
     <li><a ui-sref="dengue">DENGUE</a></li>
     <li><a ui-sref="earproblem">EAR PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
     <li><a ui-sref="vitaminA">VITAMIN A SUPPLEMENTATION</a></li>
    </ul>
</div>
<!--temporary navigation end -->




<!-- <a ui-sref="generaldangersigns" class="btn btn-lg btn-primary">GENERAL DANGER SIGNS</a>
<a ui-sref="cough" class="btn btn-lg btn-primary">COUGH OR DIFFICULTY IN BREATHING</a>
<a ui-sref="diarrheatwo" class="btn btn-lg btn-primary">DIARRHEA</a>
<a ui-sref="fever" class="btn btn-lg btn-primary">FEVER</a>
<a ui-sref="measles" class="btn btn-lg btn-primary">MEASLES</a>
<a ui-sref="dengue" class="btn btn-lg btn-primary">DENGUE</a>
<a ui-sref="earproblem" class="btn btn-lg btn-primary">EAR PROBLEM</a>
<a ui-sref="malnutritionanemia" class="btn btn-lg btn-primary">MALNUTRITION ANEMIA</a>
<a ui-sref="immunizationtwo" class="btn btn-lg btn-primary">IMMUNIZATION</a>
<div ui-view></div> -->

<b>CHECK FOR IMMUNIZATION: </b>
 <br/>
 
 
 BCG? 
   <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="bcg" value=true ng-model="immunizationTwo.bcg">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="bcg" value=false ng-model="immunizationTwo.bcg">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 DPT1? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="dpt1" value=true ng-model="immunizationTwo.dpt1">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dpt1" value=false ng-model="immunizationTwo.dpt1">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 DPT2? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="dpt2" value=true ng-model="immunizationTwo.dpt2">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dpt2" value=false ng-model="immunizationTwo.dpt2">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
  DPT3? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="dpt3" value=true ng-model="immunizationTwo.dpt3">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dpt3" value=false ng-model="immunizationTwo.dpt3">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 OPV1? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="opv1" value=true ng-model="immunizationTwo.opv1">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="opv1" value=false ng-model="immunizationTwo.opv1">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 OPV2? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="opv2" value=true ng-model="immunizationTwo.opv2">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="opv2" value=false ng-model="immunizationTwo.opv2">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 OPV3? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="opv3" value=true ng-model="immunizationTwo.opv3">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="opv3" value=false ng-model="immunizationTwo.opv3">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 HEP B 1? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="hepb1" value=true ng-model="immunizationTwo.hepb1">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="hepb1" value=false ng-model="immunizationTwo.hepb1">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 HEP B 2? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="hepb2" value=true ng-model="immunizationTwo.hepb2">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="hepb2" value=false ng-model="immunizationTwo.hepb2">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 HEP B 3? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="hepb3" value="hebb3Yes" ng-model="hepb3">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="hepb3" value="hebb3No" ng-model="immunizationTwo.hepb3">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Measles?
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="measles" value=true ng-model="immunizationTwo.measles">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="measles" value=false ng-model="immunizationTwo.measles">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

    <label>Remarks:</label>
 <input class="form-control" id="remarks" ng-model="immunizationTwo.remarksTreatment"/>
<br>
 <button type="submit" class="btn btn-default" name="immunizationTwoBtn" ng-click="saveImmunizationTwo()">submit</button>