<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
    <li><a ui-sref="generaldangersigns" data-toggle="tab" >GENERAL DANGER SIGNS</a></li>
    <li><a ui-sref="cough" data-toggle="tab">COUGH</a></li>
    <li><a ui-sref="diarrheatwo" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="fever" data-toggle="tab">FEVER</a></li>
    <li><a ui-sref="measles" data-toggle="tab">MEASLES</a></li>
    <li><a ui-sref="dengue" data-toggle="tab">DENGUE</a></li>
    <li><a ui-sref="earproblem" data-toggle="tab">EAR PROBLEM</a></li>
     <li><a ui-sref="feedingproblem">FEEDING PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
    <li class="active"><a ui-sref="immunization" data-toggle="tab">IMMUNIZATION</a></li>
    <li><a ui-sref="vitamina" data-toggle="tab">VITAMIN A SUPPLEMENTATION</a></li>
   
    </ul>
</div>  

<!-- end of temporary navigation -->
<div ui-view></div><br>
<b>CHECK FOR IMMUNIZATION: </b>
 <br/>
 
 
 BCG? 
   <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="bcg" value=true ng-model="immunizationTwo.bcg">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="bcg" value=false ng-model="immunizationTwo.bcg">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 DPT1? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="dpt1" value=true ng-model="immunizationTwo.dpt1">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dpt1" value=false ng-model="immunizationTwo.dpt1">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 DPT2? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="dpt2" value=true ng-model="immunizationTwo.dpt2">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dpt2" value=false ng-model="immunizationTwo.dpt2">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
  DPT3? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="dpt3" value=true ng-model="immunizationTwo.dpt3">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dpt3" value=false ng-model="immunizationTwo.dpt3">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 OPV1? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="opv1" value=true ng-model="immunizationTwo.opv1">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="opv1" value=false ng-model="immunizationTwo.opv1">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 OPV2? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="opv2" value=true ng-model="immunizationTwo.opv2">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="opv2" value=false ng-model="immunizationTwo.opv2">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 OPV3? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="opv3" value=true ng-model="immunizationTwo.opv3">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="opv3" value=false ng-model="immunizationTwo.opv3">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 HEP B 1? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="hepb1" value=true ng-model="immunizationTwo.hepb1">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="hepb1" value=false ng-model="immunizationTwo.hepb1">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 HEP B 2? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="hepb2" value=true ng-model="immunizationTwo.hepb2">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="hepb2" value=false ng-model="immunizationTwo.hepb2">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 HEP B 3? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="hepb3" value="hebb3Yes" ng-model="hepb3">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="hepb3" value="hebb3No" ng-model="immunizationTwo.hepb3">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Measles?
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="measles" value=true ng-model="immunizationTwo.measles">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="measles" value=false ng-model="immunizationTwo.measles">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

    <label>Remarks:</label>
 <input class="form-control" id="remarks" ng-model="immunizationTwo.remarksTreatment"/>
<br>
 
 <a ui-sref="malnutritionanemia" class="btn btn-primary"> Back </a> 
<a ui-sref="vitamina" class="btn btn-primary" name="immunizationTwoBtn" ng-click="saveImmunizationTwo()"> Next </a>