<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
    <li><a ui-sref="generaldangersigns" data-toggle="tab" >GENERAL DANGER SIGNS</a></li>
    <li><a ui-sref="cough" data-toggle="tab">COUGH</a></li>
    <li><a ui-sref="diarrheatwo" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="fever" data-toggle="tab">FEVER</a></li>
    <li><a ui-sref="measles" data-toggle="tab">MEASLES</a></li>
    <li><a ui-sref="dengue" data-toggle="tab">DENGUE</a></li>
    <li><a ui-sref="earproblem" data-toggle="tab">EAR PROBLEM</a></li>
     <li><a ui-sref="feedingproblem">FEEDING PROBLEM</a></li>
     <li class="active"><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
    <li><a ui-sref="vitamina" data-toggle="tab">VITAMIN A SUPPLEMENTATION</a></li>
   
    </ul>
</div>  

<!-- end of temporary navigation -->
<div ui-view></div><br>
<b>CHECK FOR MALNUTRITION AND ANEMIA: </b>
 <br/>
  
 Is there visible severe wasting? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="wasting" value=true ng-model="malnutritionAnemia.wasting">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="wasting" value=false ng-model="malnutritionAnemia.wasting">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
  
 Is there edema of both feet? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="edemaFeet" value=true ng-model="malnutritionAnemia.edemaFeet">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="edemaFeet" value=false ng-model="malnutritionAnemia.edemaFeet">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
  
 Is there palmar pallor? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="palmarPallor" value="some" ng-model="malnutritionAnemia.palmarPallor">
                <font color=green>some</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="palmarPallor" value="severe" ng-model="malnutritionAnemia.palmarPallor">
                <font color=red>severe</font>
            </label>
        </div>
    </div>
     
  Is the weight for age low? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="lowWeight" value=true ng-model="malnutritionAnemia.lowWeight">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="lowWeight" value=false ng-model="malnutritionAnemia.lowWeight">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

 
    <h2>RESULT: Malnutrition and Anemia</h2>
    <div>{{ malnutritionAnemia.wasting }}</div>
    <div>{{ malnutritionAnemia.edemaFeet }}</div>
    <div>{{ malnutritionAnemia.palmarPallor }}</div>
    <div>{{ malnutritionAnemia.lowWeight }}</div>

<a ui-sref="feedingproblem" class="btn btn-primary"> Back </a> 
<a ui-sref="immunizationtwo" class="btn btn-primary" name="malnutritionAnemiaBtn" ng-click="saveMalnutritionAnemia()"> Next </a>