<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
    <li><a ui-sref="generaldangersigns" data-toggle="tab" >GENERAL DANGER SIGNS</a></li>
    <li><a ui-sref="cough" data-toggle="tab">COUGH</a></li>
    <li><a ui-sref="diarrheatwo" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="fever" data-toggle="tab">FEVER</a></li>
    <li class="active"><a ui-sref="measles" data-toggle="tab">MEASLES</a></li>
    <li><a ui-sref="dengue" data-toggle="tab">DENGUE</a></li>
    <li><a ui-sref="earproblem" data-toggle="tab">EAR PROBLEM</a></li>
     <li><a ui-sref="feedingproblem">FEEDING PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
    <li><a ui-sref="vitamina" data-toggle="tab">VITAMIN A SUPPLEMENTATION</a></li>
   
    </ul>
</div>  

<!-- end of temporary navigation -->
<div ui-view></div><br>

<b>IF YES FOR SIGNS OF MEASLES:</b>
<p></p>
<br/>
Mouth Ulcers? 
<div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="mouthUlcers" value=true ng-model="measles.mouthUlcers">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="mouthUlcers" value=false ng-model="measles.mouthUlcers">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 <p></p>
 
 If YES, are they deep and extensive? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="deepExtensive" value=true ng-model="measles.deepExtensive">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="deepExtensive" value=false ng-model="measles.deepExtensive">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 <p></p>

Pus draining from the eye? 
<div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="pusDraining" value=true ng-model="measles.pusDraining">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="pusDraining" value=false ng-model="measles.pusDraining">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 <p></p>
 
 Clouding of the cornea? 
<div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="cloudingCornea" value=true ng-model="measles.cloudingCornea">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="cloudingCornea" value=false ng-model="measles.cloudingCornea">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

 <div>
    <h2>RESULT: Measles</h2>
    <div>{{ measles.mouthUlcers }}</div>
    <div>{{ measles.deepExtensive }}</div>
    <div>{{ measles.pusDraining }}</div>
    <div>{{ measles.cloudingCornea }}</div>

<a ui-sref="fever" class="btn btn-primary"> Back </a> 
<a ui-sref="dengue" class="btn btn-primary" name="measlesBtn" ng-click="saveMeasles()"> Next </a>