<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
    <li><a ui-sref="generaldangersigns" data-toggle="tab" >GENERAL DANGER SIGNS</a></li>
    <li><a ui-sref="cough" data-toggle="tab">COUGH</a></li>
    <li><a ui-sref="diarrheatwo" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="fever" data-toggle="tab">FEVER</a></li>
    <li><a ui-sref="measles" data-toggle="tab">MEASLES</a></li>
    <li><a ui-sref="dengue" data-toggle="tab">DENGUE</a></li>
    <li><a ui-sref="earproblem" data-toggle="tab">EAR PROBLEM</a></li>
    <li><a ui-sref="feedingproblem">FEEDING PROBLEM</a></li>
    <li><a ui-sref="malnutritionanemia" data-toggle="tab">MALNUTRITION</a></li>
    <li><a ui-sref="immunizationtwo" data-toggle="tab">IMMUNIZATION</a></li>
    <li class="active"><a ui-sref="vitamina" data-toggle="tab">VITAMIN A SUPPLEMENTATION</a></li>
   
    </ul>
</div>  

<!-- end of temporary navigation -->
<div ui-view></div><br>

<b>VITAMIN A SUPPLEMENTATION STATUS: </b>
  <br/>
  
  
  Is the child six months of age or older? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="sixMos" value=true ng-model="vitaminA.sixMos">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sixMos" value=false ng-model="vitaminA.sixMos">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Has the child received Vitamin A in the past six months? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="recieve" value=true ng-model="vitaminA.receive">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="recieve" value=false ng-model="vitaminA.receive">
                <font color=red>NO</font>
            </label>
        </div>
    </div> 

    <div>
    <h2>RESULT: Vitamin A Supplementation Status</h2>
    <div>{{ vitaminA.sixMos }}</div>
    <div>{{ vitaminA.receive }}</div>

 <a ui-sref="malnutritionanemia" class="btn btn-primary"> Back </a> 
<button type="submit" class="btn btn-primary" name="vitaminABtn" ng-click="saveVitaminA()"> Submit</a>