<h3><b><center>IMCI QUESTIONNAIRE <br/>(0-2 months)</font></b></h3>

<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li ><a ui-sref="diarrheaone">DIARRHEA</a></li>
    <li><a ui-sref="bacterialinfection">BACTERIAL INFECTION</a></li>
    <li><a ui-sref="weightproblem">WEIGHT PROBLEM</a></li>
    <li class="active"><a ui-sref="foodintake">FOOD INTAKE</a></li>
    <li><a ui-sref="attachment">ATTACHMENT</a></li>
    <li><a ui-sref="immunizationone">IMMUNIZATION</a></li>
    </ul>
</div>  
<!-- end of temporary navigation -->

 <div ui-view></div>
 <br>

<b> CHECK FOR FEEDING PROBLEM:</b>
<br/>
Is the infant breastfed? 
<div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="breastfed" value=true ng-model="foodIntake.breastfed">
               <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="breastfed" value=false ng-model="foodIntake.breastfed">
                <font color=red>NO</font>
            </label>
        
</div>
 
    <br> If YES, How many times in 24 hours? 
 <input type="number" ng-model="foodIntake.breastfed.breastfedCount" name="breastfedCount" required="" class="form-control" placeholder="Number of times"/>
    </div>
    If NO, What milk are you giving?
    <input type="text" ng-model="foodIntake.notBreastfed.milk" name="milk" required="" class="form-control" />
How many times during the day and night? 
<br>
<i>Day:</i><input type="number" ng-model="foodIntake.notBreastfed.daycount" name="daycount" required="" class="form-control" placeholder="Times during the Day" /> 
    
    
    <i>Night  </i><input type="number" ng-model="foodIntake.notBreastfed.nightcount" name="nightcount" required="" class="form-control" placeholder="Times during the night"/>
    
    
    <br>
    How much is given at each feed? (Volume in mL)
 <input type="number" ng-model="foodIntake.notBreastfed.volume" name="volume" required="" class="form-control" placeholder="Volume in mL" /> 
    
    How are you preparing the milk? 
    <input type="text" ng-model="foodIntake.notBreastfed.preparation" name="preparation" required="" class="form-control"/> 
    
    <br>
    Are you giving any breast milk at all? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="breastMilk" value=true ng-model="foodIntake.notBreastfed.breastMilk">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="breastMilk" value=false ng-model="foodIntake.notBreastfed.breastMilk">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
    What foods and fluids in addition to replacement is given?
    <input type="text" ng-model="foodIntake.notBreastfed.food" name="food" required="" class="form-control"  /> 
   <br>
    
    Cup or Bottle?
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="cupBottle" value="cup" ng-model="foodIntake.notBreastfed.cupBottle">
                <font color=green>CUP</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="cupBottle" value="bottle" ng-model="foodIntake.notBreastfed.cupBottle">
                <font color=red>BOTTLE</font>
            </label>
        </div>
    </div>
 
 How are you cleaning the bottle? 
    <input type="text" ng-model="foodIntake.notBreastfed.cleaning" name="cleaning" required="" class="form-control"  /> 
    
  Does the infant usually receive any other foods and drinks? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="other" value=true ng-model="foodIntake.breastfed.other">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="other" value=false ng-model="foodIntake.breastfed.other">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 If YES, How often? 
 <input type="number" ng-model="foodIntake.breastfed.othersCount" name="othersCount" required="" class="form-control" placeholder="Number of times"/> 


 <div>
    <h2>RESULT: FOOD INTAKE</h2>
    <div>{{ foodIntake.breastfed}}</div>
    <div>{{ foodIntake.breastfed.breastfedCount}}</div>
    <div>{{ foodIntake.notBreastfed.milk}}</div>
    <div>{{ foodIntake.notBreastfed.daycount}}</div>
    <div>{{ foodIntake.notBreastfed.nightcount}}</div>
    <div>{{ foodIntake.notBreastfed.volume}}</div>
    <div>{{ foodIntake.notBreastfed.preparation}}</div>
    <div>{{ foodIntake.notBreastfed.breastMilk}}</div>
    <div>{{ foodIntake.notBreastfed.cupBottle}}</div>
    <div>{{ foodIntake.breastfed.other}}</div>
   

        {{ getFoodIntake() }}


<br>
<a ui-sref="weightproblem" class="btn btn-primary"> Back </a> 
<a ui-sref="attachment" class="btn btn-primary" name="foodIntakeBtn" ng-click="saveFoodIntake()"> Next </a>