body {
	background-color: white;
}

.content {
	padding-left: 20px;
	padding-right: 20px;
}


body {
  padding-bottom: 40px;
 
  
  /*background-color: #f7f5cf;*/
  /*font-family: 'Cabin-Regular', ;
  src: url(Cabin-Regular.ttf) format("truetype");*/
 /* background-image: url("..//images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

}

.navbar  {
  font-size: 20px;
  text-shadow: 2px 2px black;

}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;

}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;

}
.navbar-wrapper .navbar .container {
  width: auto;
}


.carousel {
  padding-top: 10px;
  height: 550px;
  margin-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;

}


.carousel-caption h1{
  z-index: 10;
  font-size: 50px;
}


.carousel .item {
  height: 550px;
  
  
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
  
}



.footer {
	padding-left: 20px;
	padding-right: 20px;
}

.contentimci {
	padding-bottom: 80px;
	text-align: center;
}

.imci {
	padding-left: 50px;
	padding-right: 50px;
}

.btn-primary {
  background-color: #1b8c9a;
  border-color: #1b8c9a;
}

.btn-primary:hover {
  background-color: #46b3c1;
  border-color: #46b3c1;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  
  .navbar-wrapper {
    margin-top: 0px;
  }
  .navbar-wrapper .container {
    padding-right: auto;
    padding-left: auto;
  }
  .navbar-wrapper .navbar {
    padding-right: auto;
    padding-left: auto;
  }

  .carousel-caption p {
    margin-bottom: 40px;
    font-size: 25px;
    line-height: 1.4;

  }

  .features-heading {
    font-size: 50px;
  }



@media (min-width: 992px) {
  .features-heading {
    margin-top: 120px;
  }
}
